ul {
    list-style-type: none; /* Убирает маркеры/точки */
    margin: 0;             /* Убирает внешние отступы браузера */
    padding: 0;            /* Убирает внутренние отступы браузера */
    display: flex;
    gap: 25px;
    margin: 25px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

}

a:hover {
    text-decoration: underline;
}

a.active {
    text-decoration: underline;
}