button {
    background: none;
    border: none;
    padding: 0;
    margin: 15px;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}
.userBlock{
    display: flex;
    align-items: center;
}
